* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v22_2 {
  width: 100%;
  height: 1466px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_3 {
  width: 100%;
  height: 1px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 0px;
  overflow: hidden;
}
.v22_4 {
  width: 551px;
  height: 541px;
  background: url("../images/v22_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 135px;
  overflow: hidden;
}
.v22_5 {
  width: 100%;
  height: 73px;
  background: url("../images/v22_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1398px;
  left: 0px;
  overflow: hidden;
}
.v22_6 {
  width: 100%;
  height: 73px;
  background: rgba(225,223,223,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_15 {
  width: 438px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 447px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_16 {
  width: 100%;
  height: 61px;
  background: url("../images/v22_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_17 {
  width: 100%;
  height: 61px;
  background: rgba(230,227,227,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_18 {
  width: 123px;
  height: 40px;
  background: url("../images/v22_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 54px;
  overflow: hidden;
}
.v22_19 {
  width: 122px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v22_20 {
  width: 123px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_21 {
  width: 203px;
  height: 40px;
  background: url("../images/v22_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 651px;
  overflow: hidden;
}
.v22_22 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_23 {
  width: 269px;
  height: 37px;
  background: url("../images/v22_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 423px;
  overflow: hidden;
}
.v22_24 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_25 {
  width: 159px;
  height: 37px;
  background: url("../images/v22_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 201px;
  overflow: hidden;
}
.v22_26 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_27 {
  width: 138px;
  height: 37px;
  background: url("../images/v22_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 385px;
  overflow: hidden;
}
.v22_28 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_29 {
  width: 138px;
  height: 37px;
  background: url("../images/v22_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 548px;
  overflow: hidden;
}
.v22_30 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_31 {
  width: 123px;
  height: 37px;
  background: url("../images/v22_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 37px;
  overflow: hidden;
}
.v22_32 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_120 {
  width: 552px;
  height: 541px;
  background: url("../images/v22_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 676px;
  overflow: hidden;
}
.v22_114 {
  width: 552px;
  height: 541px;
  background: rgba(229,228,228,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_39 {
  width: 160px;
  height: 41px;
  background: url("../images/v22_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 32px;
  overflow: hidden;
}
.v22_33 {
  width: 160px;
  height: 41px;
  background: url("../images/v22_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_35 {
  width: 160px;
  height: 41px;
  background: url("../images/v22_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_36 {
  width: 158px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v22_37 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 1px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v22_118 {
  width: 334px;
  height: 28px;
  background: url("../images/v22_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 32px;
  overflow: hidden;
}
.v22_38 {
  width: 322px;
  color: rgba(116,107,107,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Roboto;
  font-weight: ExtraLight;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v22_119 {
  width: 330px;
  height: 29px;
  background: url("../images/v22_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 32px;
  overflow: hidden;
}
.v22_13 {
  width: 322px;
  color: rgba(116,107,107,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Roboto;
  font-weight: ExtraLight;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v22_117 {
  width: 474px;
  color: url("../images/v22_117.png");
  position: absolute;
  top: 449px;
  left: 34px;
  font-family: Roboto;
  font-weight: ExtraLight;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v22_156 {
  width: 544px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 318px;
  left: 142px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}


.content {
  margin-top: -400px !important;
}


.white{
  color: #fff !important;
  
}